
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1164px;
  min-height: 0;
  position: relative;
  max-width: 1164px;
  max-height: 900px;
}
.image{
  width: 100%;
  /* height: 100vh; */
  object-fit: cover;
  /* aspect-ratio: 1/1; */
  position: absolute;
  top: 0;
  left: 0;
}
.text {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  max-width: 1164px;
  max-height: 900px;
}
  .text p{
    width: 40%;
    position: absolute;
  }
  .text p:nth-child(1){
    top: 600px;
    left: 8%;
  }
  .text p:nth-child(2){
    top: 600px;
    left: 50%;
  }
.studentName {
  position: absolute;
  width: 55%;
  top: 330px;
  left: 7.5%;
  font-size: 2rem;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 10;
  font-weight: bold;
}
.Loading {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.LoadingCont svg{
  font-size: 2rem;
}
.LoadingCont{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 426px) {
  .container {
    height: auto;
  }
}