.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100svh;
    gap: 1.5rem;
}
.sideNav {
    display: flex;
    flex-direction: column;
}
.sideNav .logo {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideNav .logo img {
    width: 70%;
}

.backButton {
    padding: 5px 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}
.backButton:hover {
    color: rgb(89, 94, 99);
}
.backButton svg {
    font-size: .8rem;
    cursor: pointer;
}

.lessons {
    padding: 10px;
}
.accordionHeader button {
    background-color: #DBDBFF !important;
    border-radius: 5px;
}
.accordionHeader button:focus  {
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.accordionBody ::-webkit-scrollbar {
    display: none;
}

.accordionBody {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    border: none;
    max-height: 350px !important;
}
.accordionBody ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.accordionBody ul li {
    padding: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    border-radius: 5px;
    gap: 3px;
}
.accordionBody ul .active {
    background-color: #ebebffb1;
}
.accordionBody ul li svg {
    color: #606060ea;
}
.accordion {
    border: none;
    margin-bottom: 10px;
}

.activeLesson {
    color: #000000;
    font-weight: 600;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    overflow: auto;
}
.content::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

.content::-webkit-scrollbar-thumb {
    background-color: #a2a2a2; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded scrollbar thumb */
}

.content::-webkit-scrollbar-thumb:hover {
    background: #868686; /* Darker color when hovered */
}

.content .breadcrumbs ul {
    display: flex;
    gap: 5px;
    padding: 5px 0px 0 0 !important;
    font-size: .9rem;
    margin: 5px;
}
.content .breadcrumbs ul li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #8C8CAB;
}
.content .breadcrumbs ul li:not(.active):nth-child(odd) {
    text-decoration: underline;
    color: #5D5DD4;
    cursor: pointer;
}
.lessonContent {
    padding-bottom: 10px;
    width: 95%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lessonContent * {
    margin: 0;
}
.lessonTitle h1{
    font-weight: 600;
    margin-bottom: 5px;
}
.para {
    width: 100%;
    line-height: 1.6;
    margin-bottom: 1em;
    text-align: justify;
    margin-bottom: 10px !important;
}
.codingDesign {
    padding: 15px;
    border-radius: 5px;
    background-color: #09072d;
    color: white;
    margin-bottom: 10px;
}



.comment {
    color: #949494;
}
.control {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    position: relative;
}
.control button {
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
}
.nextButton {
    border: 1.5px solid #266eff !important;
}
.try {
    background-color: #266eff;
    color: white;
}
.back {
    border: 1px solid rgb(255, 0, 0) !important;
}
.fullscreenOffcanvas {
    width: 100vw !important;  /* Full viewport width */
    height: 100vh !important; /* Full viewport height */
    padding: none;
    transition: none;
}
.fullscreenOffcanvas div:first-child {
    padding: 0;
    overflow: hidden;
}
.lessonContent table {
    width: 100%;
}
.bold {
    font-weight: 700;
}

.dataList li{
    list-style: disc;
}
.contentContainer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.robotContainer {
    width: 150px;
}
.robotContainer img {
    width: 100%;
    aspect-ratio: 1;
}
.robotContainer p {
    position: absolute;
    top: 0;
    right: -1rem;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 20px 0px;
    border: 1.4px solid #9696e7;
    max-width: 150px;
    transform: translateY(-25%) translateX(60%);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.classworkContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.classworkContainer li {
    grid-template-columns: 1fr !important;
}