:root {
    --maimColor: #DBDBFF;
    
}

.container {
    background-color: #272822;
    overflow: hidden;
}

.nav{
    color: #000 !important;
    height: 100%;
    background-color: #fff;
    padding: 15px;
    border-right: 4px solid #EDEEF5;
    position: relative;
}
.nav ul {
    padding: 0;
}
.nav .icon {
    color: #5F6257;
    font-size: 1.4rem;
    cursor: pointer;
}
.nav .folderIcon {
    font-size: 1.3rem;
}
.nav .icon:hover {
    filter: brightness(2);
}
.section header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EDEEF5;
    color: #000000;
    padding: 10px;
    color: white;
}

.main {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
}
.webIDE {
    flex: 1;
    min-height: 100%;
}
.webOutput {
    flex: 1;
    background-color: #ffffff;
    color: white;
}
.containerIDE {
    flex: 1;
    background: #D9D9D9;
    display: flex;
}
.containerIDE div {
    flex: 1;
    background-color: #EDEEF5;
    border: 3px solid #D9D9D9;
    display: flex;
    flex-direction: column;
}
.containerIDE div .languageTab{
    flex: .1;
    background: #D9D9D9;
    display: flex;
    align-items: flex-start;
    justify-self: end;
    border: none;
}
.containerIDE div .languageTab div {
    width: auto !important;
    max-width: 80px;
    border: none;
    border-radius: 0 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 3px;
    flex-direction: row;
    gap: 3px;
    font-weight: 600;
}

.containerIDE div .languageTab div img {
    width: 25%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.containerIDE div .codingInput {
    flex: 1;
    color: green;
    border: none;
}

.containerIDE div .codingInput textarea {
    height: 100%;
    resize: none;
    overflow: auto;
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent !important;
    font-size: .85rem;
}
.webOutput iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.webOutput label {
    color: black;
    font-size: .9rem;
    width: 100%;
    background-color: #D9D9D9;
    padding: 3px 5px;
}

.codeArea {
    flex: 1;
    display: flex;
    gap: 2px;
    /* max-width: 65%; */
}
.codeArea {
    min-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.languageDropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 5px;
}
.languageDropdown option {
    padding: 5px;
}

.aiArea {
    background-color: #EDEEF5;
    flex: .35;
    color: white;
}
.codeEditor {
    background: #fff;
    flex: 1;
    height: auto;
}
.outputInput {
    background-color: #ffffff;
    flex: .5;
    display: flex;
    gap: 2px;
    position: relative;
}
.inputArea {
    flex: .6;
    color: #000;
}
.inputArea textarea {
    background-color: transparent;
    resize: none;
    width: 100%;
    height: 98%;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
}
.outputArea {
    flex: 1;
    border-left: 3px solid #EDEEF5;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: .9rem;
    position: relative;
}
.outputArea textarea{
    background: transparent;
    color: rgb(0, 0, 0);
    width: 100%;
    resize: none;
    height: 83%;
    border: none;
    outline: none;
}
.codeMirror {
    background-color: white !important;
}
/* CSS code to style the scrollbar of the textarea */
.outputArea textarea::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}
.outputArea textarea::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}
.outputArea textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.controls {
    min-height: 41.5px !important;
}
.controls button{
    background-color: #5C5CD1;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
    padding: 10px 15px;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
}
.controls .execute {
    filter: brightness(1);
}
.controls .execute:hover {
    filter: brightness(1);
    background-color: rgba(235, 8, 8, 0.69);
}
.controls button:hover {
    filter: brightness(1.7);
}
.exit {
    font-size: 1rem;
    padding: 10px;
    background-color: #5D5DD4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    max-width: 100px !important;
    margin-left: 10px;
}
.logo img{
    width: 100% !important;
    scale: 1.3;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.logo img:hover {
    filter: brightness(1);
}
.clockLogo span {
    color: #5C5CD1;
}
.timer {
    color: #5C5CD1;
}
.exit:hover {
    filter: brightness(1.7);
    cursor: pointer;
}
.outputArea .title {
    border-bottom: 1px solid #9a9a9a;
    font-weight: 600;
    font-size: .8rem;
    color: rgb(0, 0, 0);
    margin: 0;
    padding-block: 5px;
}



.aiArea {
    display: flex;
    flex-direction: column;
}
.task {
    flex: .7;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 10px;
}
.taskBox {
    width: 100%;
    height: 75%;
    background-color: #DBDBFF;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.taskBox p {
    margin-bottom: 0;
}
.alignStart {
    align-self: flex-start;
    height: 90%;
    flex-direction: column;
    padding: 20px 10px;
}
.practiceTest {
    width: 85%;
    height: auto;
    position: absolute;
    align-self: flex-end;
    top: -60%;
}
.firstButton {
    align-self: flex-end;
    background-color: #5C5CD1;
    color: #fff;
    border: none;
    padding: 5px 20px;
    width: 70%;
    border-radius: 5px;
    max-width: 200px;
    font-weight: 600;
    font-size: .9rem;
}
.option1Container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    font-size: .8rem !important;
}
.challangeTextContainer {
    flex: none !important;
    overflow: auto !important;
    align-items: start !important;
    justify-content: start !important;
    overflow: auto;
}
.difficultyInfo {
    color: rgb(100, 100, 100) !important;
    margin-left: 5px;
}
.instructionModal {
    text-align: left;
}
.levelText {
    color: rgb(255, 23, 23);
}

.challangeTextContainer::-webkit-scrollbar {
    width: 5px; 
}
.challangeTextContainer::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}
.challangeTextContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.successGif {
    width: 45%;
    aspect-ratio: 1/1;
}
.failGif {
    width: 40%;
    aspect-ratio: 1/1;
}
.problemContainer {
    max-height: 200px;
    width: 100%;
    font-size: .9rem;
    padding-block: 5px;
    text-align: center;
}
.colorBlack {
    font-size: .9rem;
    color: #000;
    font-weight: 600;
}

.langguageOption, .levelOption {
    border-radius: 10px;
    width: 95%;
    padding: 10px;
    display: flex;
    height: 40px;
    background: #C5C5E9;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}
.levelOption {
    height: 20px;
}
.levelOption p {
    margin: 0;
    padding-block: 6px;
    color: black;
}
.langguageOption img {
    height: 110%;
    object-fit: contain;
}
.langguageOption p {
    margin: 0;
    color: black;
}
.controller {
    padding: 5px;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.controller button {
    border: none;
    border-radius: 5px;
    width: 30%;
    font-size: .75rem;
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
}
.notAvailable {
    opacity: .7;
}
.langguageOption:hover, .levelOption:hover {
    border: 2px solid #295bff;
}
.selectedLanguage {
    border: 2px solid #295bff;
}
.controller button:first-child {
    background-color: #D90004;
}
.reminder {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
}
.reminder span {
    color: #ff3c06b9;
    font-weight: 600;
}
.reminder p{
    color: black;
    font-size: .75rem;
    text-align: center;
}
.controller button:last-child {
    background-color: #15D422;
}

.challangeText {
    margin: 0;
    color: black;
    font-size: .9rem;
    text-align: center;
}
.loader {
    margin-top: 10px;
    text-align: center;
}

.disabledSubmitBtn {
    background-color: #bcbcbc !important;
    cursor: not-allowed !important;
    transition: all .3s ease;
}

.problem {
    color: black !important;
    margin-bottom: 0;
    font-size: .8rem;
    text-align: center;
}
.submitCode {
    min-width: 150px !important;
}
.aiBot {
    flex: 1;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.hideBot {
    opacity: 0;
}
.chatHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatHead p {
    font-weight: 600;
    font-size: .9rem;
}
.closeIcon {
    background-color: #565656;
    padding: 5px;
    font-size: .7rem;
    border-radius: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: all .3s ease;
}
.closeIcon:hover {
    filter: brightness(2s);

}
.chatContent{
    flex: 1;
    padding-block: 5px;
    max-height: 300px !important;
    overflow-y: auto !important;
    scrollbar-width: none;
    background-color: #DBDBFF;
    padding-bottom: 60px;
    color: black;
    border-radius: 5px;
}

.message {
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: start;
    gap: 10px;
    text-wrap: wrap;
    font-size: .8rem;
}
.user {
    border-radius: 100%;
    min-width: 30px;
    aspect-ratio: 1/1;
    font-size: 1.3rem;
    text-align: center;
    background-color: #ffffff;
    color: #080808;
    align-items: center;
    justify-content: center;
}
.messageContent {
    width: calc(100% - 5.7rem);
    /* background-color: #0d5683; */
    border-radius: 10px;
    padding: 3px 5px;
}
.response {
    flex-direction: row-reverse;
    text-align: end;
    text-wrap: wrap;
    font-size: .8rem;
}
.userName {
    font-size: .8rem;
    font-weight: 600;
}
.usermessage {
    max-width: 100%;
    word-break: break-word;
    white-space: normal;
}
.chatbox {
    width: 90%;
    min-height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    position: absolute;
    bottom: 20px;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.chatbox input {
    flex: 1;
    margin: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: .8rem;
}
.chatbox .sendIcon {
    flex: .1;
    cursor: pointer;
    color: #000;
    font-size: .9rem;
}
.sendIcon:hover {
    color: rgb(71, 77, 251);
}
.minimize {
    flex: .05;
}
.minimize .chatContent, .minimize .chatbox {
    display: none;
}

.switchContainer {
    width: auto !important;
    padding: 5px;
    display: flex;
    right: 10px;
    top: 0;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.switchContainer p{
    margin: 0 !important;
}
.switchContainer div {
    width: 40px !important;
    background-color: #dddddd;
    height: 20px;
    border-radius: 10px;
    position: relative !important;
    cursor: pointer;
    z-index: 2;
}
.switchContainer div::after {
    content: '';
    width: 50%;
    aspect-ratio: 1/1;
    background: #000;
    position: absolute !important;
    border-radius: 100%;
    top: 0;
    left: 1px;
    transition: all .3s ease;
}
.active::after {
    background-color: rgb(0, 82, 235) !important;
    transform: translateX(17px);
}



.language:hover ul {
    display: block;
}
/* .language img {
    width: 40px;
    object-fit: fill;
    aspect-ratio: 1/1;
} */

.selectLanguage {
    position: absolute;
    top: 20px;
    left: 100%;
    background-color: #fff;
    padding: 10px !important;
    box-shadow: 0px 2px 5px 1px rgba(97, 97, 97, 0.86);
    display: none;
    z-index: 2;
    width: auto;
    min-width: 200px;
}
.selectLanguage:hover {
    display: block;
}
.selectLanguage li {
    white-space: nowrap; /* Prevents text from wrapping */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 5px;
    width: 100%;
}
.selectLanguage label {
    font-weight: 600;
}
.selectLanguage li:hover {
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}
.selectLanguage li svg:hover {
    filter: brightness(1) !important;
}
.html {
    color: red !important;
}
.css {
    color: blue !important;
}
.pythonLogo {
    width: 15%;
}


/* Assessment styles */
main:has(.assessmentContainer) {
    display: grid;
    grid-template-columns: 1fr 400px;
}
.assessmentContainer {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    grid-template-rows: 50px 1fr 50px;
}
.assessmentContainer .assessmentHeader {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    background-color: #fff;
}
.main:has(.assessmentContainer) {
    gap: 5px;
    background-color: #EDEEF5;
}
.codeEditor:has(.assessmentContainer) .nav {
    display: none;
}
.assessmentTimer {
    height: 100%;
    min-width: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-inline: 10px;
}
.aiArea:has(.assessmentContainer) {
    padding-right: 5px;
}
.assessmentHeader button{
    border: none;
    background-color: transparent;
    color: #5C5CD1;
    font-weight: 500;
    transition: all .5s ease;
    padding: 5px 10px;
    border-radius: 3px;
}
.assessmentHeader button:hover {
    background: #b5b5b52f;
}
.assessmentHeader p {
    font-weight: 600;
    color: #000;
    text-align: center;
}
.assessmentContent{
    background-color: #fff;
    padding: 10px !important;
    color: #000;
    overflow: auto;
}
.problemTitle p:first-child {
    font-weight: 600;
    margin-bottom: 5px;
}
.problemTitle p:last-child {
    font-size: .9rem;
}
.assessmentFooter {
    background-color: #fff;
    padding: 5px;
    border-top: 1px solid black;
}
.assessmentFooter {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 10px;
}
.sampleIO p {
    font-weight: 600;
    font-size: .85rem;
}
.sampleIO ul {
    padding: 0;
    font-size: .85rem;
}
.sampleIO {
    width: 100%;
    padding-block: 10px;
}
.submitButton {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: all .5s ease;
    cursor: pointer;
    width: 100%;
}
.submitButton:hover {
    background-color: #5C5CD1;
    color: #fff;
    font-weight: 600;
}
.assessmentBtns {
    display: flex;
    gap: 5px;
}
.assessmentBtns button {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    transition: all .5s ease;
    cursor: pointer;
    padding-inline: 10px;
    min-width: 40%;
    border: none;
    background: transparent;
}
.assessmentBtns button:last-child {
    max-width: none;
}
.assessmentBtns button:hover {
    background-color: #9090c479;
    color: #000000;
}
.assessmentBtns button:first-child:hover {
    background-color: rgba(68, 255, 47, 0.608);
}
.offCanvasBody {
    padding: 0;
}

.webSample  {
    height: 80% !important;
    width: 70% !important;
    margin: 10px auto;
    border: 2px solid rgb(227, 227, 227);
}
.webButton {
    border: none;
    padding: 10px 15px;
    background-color: #5C5CD1;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}
.webButton:hover {
    background-color: #3b3bd5;
    filter: brightness(1.1);
}