.content {
    flex-direction: column;
    padding: 2em;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
    overflow: hidden;
    /* background:  linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0));    */
    color: #5D5DD4 !important;
    background-color: #EDEEF5;
}
.content h4 {
    color: var(--main-color);
    font-weight: 800;
    margin: 0 !important;
}
.headerText {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    margin-top: -5rem;
}
.logo {
    width: 20rem;
    margin-bottom: -2rem;
}
.form-container {
    width: 95% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 270px !important;
}
.tagline {
    font-size: .8rem;
    font-weight: 500;
    line-height: 21px;
}

.form-container form {
    min-height: 50px;
    width: 100%;
    max-width: 500px !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.form-container form input {
    padding: 12px;
    border-radius: 5px !important;
    outline: none !important;
    background-color: #DBDBFF ;
    border: 1px solid rgba(164, 164, 164, 0.181);
}
.form-container form label {
    font-size: .75rem !important;
    font-weight: 500 !important;
    color: #282828;
    margin-top: 5px;
}
.form-container form input:hover {
    outline: none !important;
    box-shadow: none !important;
}
.form-container form input[type="radio"]{
    border-radius: 100% !important;
    padding: 5px !important;
    box-shadow: none ;
    cursor: pointer;
}
.form-container form input[type="radio"]:checked {
    background:var(--main-color) !important;
}
.form-container form button {
    width: 100% !important;
    align-self: center;
    margin-top: 2rem;
    border-radius: 11px;
    font-weight: 600;
}

.form-container form input:focus {
    box-shadow: none;
    outline: none;
}

.form-container form > * {
    position: relative;
}

.showPassword {
    position: absolute;
    top: 56%;
    right: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #000;
    transition: all .3s ease;
}
.showPassword:hover {
    color: #000;
}

.form-container form p:last-child {
    font-size: .9rem;
}
.tagline{
    font-weight: 600;
}
.form-container form p:last-child span {
    color: #5D5DD4;
    cursor: pointer;
    transition: all .3s ease;
    font-weight: 600;
}
.form-container form p:last-child span:hover {
    color: rgb(37, 37, 255);
}
.text-center{
    color: #282828;
}

@media (max-width: 767px) {
    /* Media query for screens smaller than 768px (mobile devices) */
    .content {
        align-content: center !important;
        justify-content: start !important;
    }
    .tagline {
        display: none;
    }
}
