.mainContainer {
    height: 90vh; /* Set modal height to take most of the viewport */

}

.container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Fill the modal height */
    gap: 10px;
}

.header {
    flex-shrink: 0; /* Keep header size fixed */
}
.container .header h1 {
    font-size: 1.5rem !important;
    font-weight: 700;
}

.infoCard {
    width: 100%;
    padding: 10px 20px;
    background-color: #7268c5e4;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    color: white;
}

.infoCard img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.infoCard .title {
    font-size: 1rem;
    font-family: var(--font-primary);
    font-weight: 600;
    margin-bottom: 5px;
}

.infoCard .totalItems {
    font-size: 0.75rem;
    font-family: var(--font-primary);
    font-weight: 400;
}

.rankingContent {
    flex-grow: 1; /* Expand to available space */
    overflow-y: auto; /* Enable scrolling */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.topStudents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.topSpot {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.topSpot img {
    width: 35%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 5px;
}
.topSpot p {
    font-size: .7rem;
}
.topSpot .name {
    font-weight: 600;
    text-align: center;
    max-width: 80px;
    white-space: nowrap; /* Prevent the text from wrapping */
    overflow-x: hidden; /* Hide the overflowed content */
    text-overflow: ellipsis; 
    height: 35px;
}
.firstSpot img{
    width: 100%
}
.rankingLabel {
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: -8%;
    right: -8%;
    background-color: gold;
    color: rgb(255, 255, 255);
    padding: 4px 11px;
    border-radius: 100%;
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    width: 50%;
}
.imageContainer img {
    width: 75%;
    object-fit: cover;
    border-radius: 5px;
    border-radius: 100%;
    border: 1px solid rgba(86, 44, 255, 0.218);
}
.firstSpot .imageContainer img {
    width: 100%;
}
.topSpot .bgPurple {
    background-color: silver;
    padding: 4px 9px;
    color: white;
}
.topSpot .thirdPlace {
    background-color: rgba(154, 48, 48, 0.898);
    padding: 4px 9px;
}
.studentContainer {
    display: flex;

    flex-direction: column;
    overflow: auto;
    max-height: auto;
}

.studentContainer::-webkit-scrollbar {
    width: 0; /* Width of the scrollbar */
}

/* .studentContainer::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 10px;
}

.studentContainer::-webkit-scrollbar-thumb {
    background-color: #7268c5;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
}

.studentContainer::-webkit-scrollbar-thumb:hover {
    background-color: #3b2cc3;
} */

.card {
    width: 100%;
    display: grid;
    grid-template-columns: .6fr 1fr 1fr;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    min-height: 40px;
}
.active {
    border-left: 3px solid blue;
    background: linear-gradient(90deg, rgba(84,213,255,0.3563550420168067) 0%, rgba(89,215,255,0.3563550420168067) 21%, rgba(106,217,252,0) 85%, rgba(170,234,255,0) 93%);
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card .imageContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: .9rem;
    font-weight: 400;
}

.card .info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .8rem;
    gap: 10px;
}
.card .name {
    text-align: left;
    margin-left: -25px;
    font-size: .85rem;
}
.card svg {
    color: rgba(18, 39, 234, 0.676);
}