p {
    margin: 0;
}
.contentContainer {
    width: 100%;
    /* overflow: auto; */
    display: flex;
    padding: 5px;
    gap: 10px;
    flex-direction: column;
    overflow: auto;
    margin-top: 5px;

}
.contentContainer::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.contentContainer::-webkit-scrollbar-track {
    background: #f1f1f11c; /* Set background color of the scrollbar track */
}

.contentContainer::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Add rounding to scrollbar thumb */
    border: 2px solid #f1f1f1; /* Optional: adds space around the thumb */
}

.contentContainer::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change thumb color on hover */
}

.card {
    width: 20%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 1px 3px 5px 1px rgb(219 219 219);
    min-height: 160px;
    display: grid;
    grid-template-columns: 150px 1fr;
    border-radius: 10px;
}
.lessonTitle {
    font-size: 1.05rem;
    font-weight: 600;
}
.lessonDescription {
    font-size: .85rem;
    color: #8C8CAB;
    
}.right {
    position: relative;
    padding: 10px;
}
.status {
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 3px;
    width: 115px;
    text-align: center;
    border-radius: 20px;
    background-color: #5C5CD1;
    color: #fff;
    font-size: .85rem;
}
.left img {
    width: 110%;
    object-fit: contain;
}
.left {
    background: linear-gradient(110.75deg, #8E8EE9 5.35%, #5D5DD4 72.54%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.status {
    cursor: pointer;
}

.locked {
    background: #ec2f2f !important;
    color: #fcfcfc !important;
    cursor: not-allowed !important;
}
.lesson {
    background-color: #35d404;
}
.status svg {
    font-size: .7rem;
    margin-right: 4px;
}
.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.controls div {
    display: flex;
    gap: 10px;
    align-items: center;
}
.controls select {
    padding: 5px;
    outline: none;
    border:  none !important;
    background-color: #ffffff;
}
.controls select option {
    padding: 5px;
}
.activateButton {
    padding: 5px 10px;
    background-color: #5C5CD1;
    font-size: .9rem;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}
.activateButton:hover {
    background-color: #2f2fbc;
}
.activateButton svg {
    margin-right: 5px;
}
.lockedBorder {
    border: 1.5px solid red !important;
}
.unlockedBorder {
    border: 1.5px solid rgba(32, 88, 255, 0.933) !important;
}
.dueText {
    position: absolute;
    left: -15rem;
    color: black;
    cursor: default;
}