.createContainer {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.createContainer p {
    padding: 5px 10px; 
    background-color: #5D5DD4;
    border-radius: 5px;
    color: #DBDBFF;
    cursor: pointer;
    transition: all .3s ease;
    max-height: 33px;
    font-size: .8rem !important;

}
.createContainer p:hover {
    background-color: #4A4AC3;
    color : #fff
}
.Header{
    background: linear-gradient(110.75deg, #8E8EE9 5.35%, #5D5DD4 72.54%);
    padding: 10px !important;
}
.Header *{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}
.Title{
    font-weight: 600;
    color: #fff;
}
.Create{
    background-color: #5D5DD4;
    border-radius: 20px;
    padding-inline: 20px;
}
.Create :hover{
    background-color: #4A4AC3;
}
.Close{
    border-radius: 20px;
    padding-inline: 20px;
}
.Close:hover{
    background-color: #424242;
}
.buttonContainer {
    display: flex;
    gap: 10px;
}
.menuContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuContainer ul{
    display: flex;
    gap: 5px;
    padding: 0 !important;
    margin: 0 !important;
}
.menuContainer ul li{
    list-style: none;
    cursor: pointer;
    padding-inline: 5px;
    color: #424242ac;
}
.menuContainer ul li.active, .menuContainer ul li:hover{
    color: #5D5DD4;
    border-bottom: 2px solid #5D5DD4;
}
.offcanvasBody::-webkit-scrollbar {
    width: 0;
}
.offcanvasBody::-webkit-scrollbar-thumb {
    background-color: #b9b9b9;
}
.offcanvasBody::-webkit-scrollbar-track {
    background-color: #fff;
}
.offcanvasBody{
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2.2rem 4rem;
}
.assessmentOptions {
    display: flex;
}
.assessmentOptions div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5px;
    border: 1.5px solid #5D5DD4;
    transition: all .3s ease;
}
.assessmentOptions div p {
    font-size: 1rem;
    font-weight: 600;
    color: #5D5DD4;
    transition: all .3s ease;
    user-select: none;
}
.assessmentOptions div:hover {
    background-color: #e6e6e644;
    cursor: pointer;
}
.assessmentOptions div:hover p {
    color: #0000ef;
}
.assessmentOptions .active {
    background-color: #5D5DD4;
}
.assessmentOptions .active p {
    color: #fff;
}
.assessmentOptions .active:hover {
    background-color: #5D5DD4;
    cursor: default;
}
.assessmentOptions .active:hover p {
    color: #fff;
}
.offCanvas {
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px 0px #00000033;
    max-width: 900px;
}