.createContainer {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.createContainer p {
    padding: 5px 10px; 
    background-color: #5D5DD4;
    border-radius: 5px;
    color: #DBDBFF;
    cursor: pointer;
    transition: all .3s ease;
    max-height: 33px;

}
.createContainer p:hover {
    background-color: #4A4AC3;
    color : #fff
}
.Header{
    background-color: #DBDBFF;
}
.Title{
    font-weight: 600;
    color: #5D5DD4;
}
.Create{
    background-color: #5D5DD4;
    border-radius: 20px;
}
.Create :hover{
    background-color: #4A4AC3;
}
.Close{
    border-radius: 20px;
}
.Close:hover{
    background-color: #424242;
}