.formLabel {
  font-size: 0.95rem !important;
  color: rgb(85, 85, 85) !important;
  margin: 0 !important;
}
.formGroup .control {
  border-radius: 0 !important;
  border: 1px solid rgba(73, 73, 73, 0.365) !important;
}
.formGroup .control:hover {
  outline: none !important;
  box-shadow: none !important;
}
.formGroup .control:focus {
  outline: none !important;
  box-shadow: none !important;
}
.problemContainer {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #d0d0d0;
}
.problemContainer input,
.problemContainer textarea {
  background-color: #dbdbff !important;
  border-radius: 5px !important;
}
.problemContainer label {
  color: rgb(126, 126, 126) !important;
  font-size: 0.8rem !important;
}
.problemContainer input::placeholder,
.problemContainer textarea::placeholder {
  color: rgb(126, 126, 126) !important;
  font-size: 0.9rem !important;
}
.problemButtons {
  padding: 5px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}
.problemButtons button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}
.problemButtons button:nth-child(even) {
  background-color: #5c5cd1;
  color: white;
}
.formContainer {
  width: 100%;
}

.accordion h2 button {
  background: rgb(249, 249, 249) !important;
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
}
.accordion h2 button:active,
.accordion h2 button:focus {
  box-shadow: none !important;
  border: none;
}
.accordionDescription {
  padding: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}
.accordionDescription p:last-child {
  font-size: 0.8rem;
  font-weight: 500;
}
.addProblem {
  color: #5c5cd1;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.addProblem:hover {
  color: #0000ff;
}
.saveUpdate {
  background-color: #5c5cd1;
  color: #fff;
}
.cancelCanvas {
  border: none;
  background-color: #ff4d4d;
}
.cancelCanvas:hover {
  background-color: #ff0000;
}
.canvasButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 2rem;
}
.canvasButtons button {
  padding: 5px 1.5rem;
}
.EDBtnContainer {
  display: flex;
  justify-content: flex-end;
}
.BTN {
  background: none;
  border: none;
  padding: 5;
  cursor: pointer;
  outline: none;
}

.BTN:hover {
  background-color: rgba(217, 217, 217, 0.774);
  border-radius: 5px;
}

.accordionBody {
  min-height: 180px;
}
.switch-right .custom-control-label::before,
.switch-right .custom-control-label::after {
  right: 0;
  left: auto;
}

.switch-right .custom-control-label {
  padding-right: 2.5rem; /* Adjust as necessary for spacing */
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.Submit{
  background-color: #5D5DD4;
}
.Submit:hover{
  background-color: #4A4AC3;
}