.formLabel {
  font-size: 0.95rem !important;
  color: rgb(85, 85, 85) !important;
  margin: 0 !important;
}
.formGroup .control {
  border-radius: 0 !important;
  border: 1px solid rgba(73, 73, 73, 0.365) !important;
}
.formGroup .control:hover {
  outline: none !important;
  box-shadow: none !important;
}
.formGroup .control:focus {
  outline: none !important;
  box-shadow: none !important;
}
.problemContainer {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #d0d0d0;
}
.problemContainer input,
.problemContainer textarea {
  background-color: #dbdbff !important;
  border-radius: 5px !important;
}
.problemContainer label {
  color: rgb(126, 126, 126) !important;
  font-size: 0.8rem !important;
}
.problemContainer input::placeholder,
.problemContainer textarea::placeholder {
  color: rgb(126, 126, 126) !important;
  font-size: 0.9rem !important;
}
.problemButtons {
  padding: 5px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}
.problemButtons button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}
.problemButtons button:nth-child(even) {
  background-color: #5c5cd1;
  color: white;
}
.formContainer {
  width: 100%;
}

.accordion h2 button {
  background: rgb(249, 249, 249) !important;
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
}
.accordion h2 button:active,
.accordion h2 button:focus {
  box-shadow: none !important;
  border: none;
}
.accordionDescription {
  padding: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}
.accordionDescription p:last-child {
  font-size: 0.8rem;
  font-weight: 500;
}
.addProblem {
  color: #5c5cd1;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.addProblem:hover {
  color: #0000ff;
}
.saveUpdate {
  background-color: #5c5cd1;
  color: #fff;
}
.cancelCanvas {
  border: none;
  background-color: #ff4d4d;
}
.cancelCanvas:hover {
  background-color: #ff0000;
}
.canvasButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 2rem;
}
.canvasButtons button {
  padding: 5px 1.5rem;
}
.EDBtnContainer {
  display: flex;
  justify-content: flex-end;
}
.BTN {
  background: none;
  border: none;
  padding: 5;
  cursor: pointer;
  outline: none;
}

.BTN:hover {
  background-color: rgba(217, 217, 217, 0.774);
  border-radius: 5px;
}

.accordionBody {
  min-height: 180px;
}
.switch-right .custom-control-label::before,
.switch-right .custom-control-label::after {
  right: 0;
  left: auto;
}

.switch-right .custom-control-label {
  padding-right: 2.5rem; /* Adjust as necessary for spacing */
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.Submit{
  background-color: #5D5DD4;
}
.Submit:hover{
  background-color: #4A4AC3;
}


/* Logic upload area css */
.uploadingArea {
  width: 100%;
  padding: 10px;
  border: 1px solid #c7c7c7;
  display: flex;
  gap: 10px;
  max-height: 200px;
}
.uploadIcon {
  font-size: 2rem;
  color: #d0d0d0;
}
.uploadBox {
  flex: .7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px dashed #8e8e8e;
  padding: 2rem;
  position: relative;
}
.uploadBox p {
  font-size: .8rem;
  margin-top: 5px;
}
.uploadBox input[type="file"] {
display: none;
}
.fileArea {
  flex: .3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  flex-grow: 1;
  overflow: auto;
  position: relative;
  max-width: 60%;
  /* border: 1px solid #d0d0d0; */
}
.fileArea::-webkit-scrollbar {
  width: 0;
}
.fileArea::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 5px;
}
.fileArea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.fileCard {
  padding: 5px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: 1fr 30px;
}
.fileCard div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.fileIcon {
  font-size: 1.2rem;
  color: #4000ff;
  background-color: #f2f2f2;
  padding: 7px 9px;
  border-radius: 100%;
}
.fileCard button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  color: #ff4949;
  transition: all 0.3s ease;
}
.fileCard button:hover {
  color: #ff1212;
}
.fileInfo {
  flex-direction: column;
  font-size: .7rem;
  gap: 0 !important;
  line-height: 1.1;
  align-items: flex-start !important;
}
.fileInfo p:first-child {
  font-weight: 600;
  font-size: .75rem;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}