.container {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 350px;
}
.contentContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0 1rem;
    height: 97svh;
    overflow: hidden;
}
.contentContainer::-webkit-scrollbar {
    display: 2px;
}
.contentContainer .header {
    width: 100%;
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr;
}
.header ul {
    display: flex;
    gap: 5px;
    padding: 5px 0px 0 0 !important;
    font-size: .9rem;
    margin: 5px;
}
.header ul li {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #8C8CAB;
}
.header ul .active {
    text-decoration: underline;
    color: #5D5DD4;
}
.contentContainer .header .create p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    margin: 0;
    font-size: 1.7rem;
}
.create div ul {
    padding: 0 !important;
    margin: 0 !important;
    font-size: .7rem;
}
.create div ul li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #8C8CAB;
    cursor: default;
}
.create div ul li:not(:nth-child(even)){
    cursor: pointer;
}
.create div ul .active {
    color: #5D5DD4;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
}
.content div {
    height: auto;
}
.classInfo {
    color: rgb(238, 238, 238);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(90deg, #8585E5 0%, #5E5ED5 100%);
}
.classInfoHeader {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}
.classInfoHeader .headerItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.headerItem .icon {
    font-size: 150%; /* Controls icon size */
    width: 50px; /* Set the width to be equal to the height for a perfect circle */
    height: 50px;
    border-radius: 50%; /* Makes the icon circular */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000; /* Icon color */
    background-color: #f0f0f0; /* Background inside the circle, optional */
}

.headerItem .language {
    color: #FFD43B;
    background-color: #4B8BBE;
}

.headerItem .classIcon {
    color: #00f715;
    background-color: #fff;
}

.headerItem .studentCount {
    color: #ffffff;
    background-color: #fbb800;
}


.text {
    line-height: 1;
}
.text p:first-child {
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
}
.text p:last-child {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

.exclamation {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: .8rem;
    border: 1px solid rgb(255, 255, 255);
    padding: 0 8px;
    border-radius: 100%;
    cursor: pointer;
    transition: all .3s ease;
}

.exclamation:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.additionalInfo {
    display: none;
    padding: 10px;
    width: 100%;
    background-color: #f8f8f8;
    color: #000;
    position: relative
}
.additionalInfo p {
    font-size: .8rem;
    margin: 0;
    font-weight: 500;
}
.additionalInfo p span {
    font-weight: 600;
    font-size: .85rem;
    margin-right: 4px;
}
.copy {
    color: #6b6b83;
    transition: all .3s ease;
}
.copy:hover {
    color: #5E5ED5;
    cursor: pointer;
}


.classAssessments {
    flex-grow: 1;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.tableTitle {
    font-size: 1.1rem;
    color: #000;
    font-weight: 500;
    background-color: #cbcdd032;
    padding: 5px;
}
.classDashboard div:has(.table) {
    flex-grow: 1;
    font-size: .9rem;
    overflow: auto !important;
}

.classDashboard div:has(.table)::-webkit-scrollbar {
    width: 0;
}

.classDashboard div:has(.table) td, 
.classDashboard div:has(.table) th {
    padding: 15px;
}

.classDashboard div:has(.table) td ::after {
    display: none !important;
}
.table {
    width: 100%;
}

.classAssessments:has(.table-responsive) {
    color: red !important;
}

.footer {
    padding: 5px 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #bebebe;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer div {
    padding: 5px;
    font-size: .9rem;
}
.footer .totalEntry {
    display: flex;
    gap: 5px;
}
.footer .pagination {
    display: flex;
    gap: 5px;
}
.footer div button {
    padding: 5px 10px;
    border: 0;
    border-top: 5px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all .3s ease;
}
.footer div button:hover {
    background-color: #f8f8f8;
}
.footer div button:disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
    color: #bebebe;
}
.footer div button.active {
    background-color: #5d5dd4e4;
    color: #fff;
}
.viewMore svg::after {
    display: none !important;
}


.offcanvasBody::-webkit-scrollbar {
    width: 0;
}
.offcanvasBody::-webkit-scrollbar-thumb {
    background-color: #b9b9b9;
}
.offcanvasBody::-webkit-scrollbar-track {
    background-color: #fff;
}
.offcanvasBody{
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2.2rem 4rem;
}
.assessmentOptions {
    display: flex;
}
.assessmentOptions div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5px;
    border: 1.5px solid #5D5DD4;
    transition: all .3s ease;
}
.assessmentOptions div p {
    font-size: 1rem;
    font-weight: 600;
    color: #5D5DD4;
    transition: all .3s ease;
    user-select: none;
}
.assessmentOptions div:hover {
    background-color: #e6e6e644;
    cursor: pointer;
}
.assessmentOptions div:hover p {
    color: #0000ef;
}
.assessmentOptions .active {
    background-color: #5D5DD4;
}
.assessmentOptions .active p {
    color: #fff;
}
.assessmentOptions .active:hover {
    background-color: #5D5DD4;
    cursor: default;
}
.assessmentOptions .active:hover p {
    color: #fff;
}
.offCanvas {
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px 0px #00000033;
    max-width: 900px;
}

.Header{
    background: linear-gradient(110.75deg, #8E8EE9 5.35%, #5D5DD4 72.54%);
    padding: 10px !important;
}
.Header *{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}
.Title{
    font-weight: 600;
    color: #fff;
}



/* style for grade page */
.gradeDistribution {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 5px;
    width: 50px;
    border: 1px solid #7b7b7b;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    align-self: flex-end;
    transition: all .3s ease;
}
.gradeDistribution:hover {
    background-color: #3731e9de;
    color: #ffffff;
    border-color: transparent;
}
.gradeControls {
    display: flex;
    gap: 10px;;
    align-items: center;
    justify-content: flex-end;
}
.finalGradeBtn {
    cursor: pointer;
    transition: all .3s ease;
}
.finalGradeBtn:hover {
    color: #293af0e1;
}

.contentContaner {
    padding: 10px;
    border: 1px solid black;
    width: 100%;
}
.finalGradeContainer {
    max-height: 400px;
    min-height: 300px;
}
.studentProfile {
    width: 100%;
    padding: 5px;
    border: 1.5px solid rgb(237, 237, 237);
    box-shadow: 0px 2px 2px #e0e0e0;
    display: grid;
    grid-template-columns: 100px .6fr 1fr;
    grid-template-rows: 80px;
    align-items: center;

}
.profilePic {
    width: 75%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: rgb(239, 239, 239);
    margin-left: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilePic img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.userInfo {
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    line-height: 1.1;
}
.userInfo p:first-of-type {
    font-size: 1.1rem;
    font-weight: 600;
}
.userInfo p:nth-child(2) {
    font-size: .8rem;
}
.userScoresContainer {
    max-height: 250px !important;
    min-height: 100px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 5px;
}
.userScoresContainer::-webkit-scrollbar {
    width: 5px;
}
.userScoresContainer::-webkit-scrollbar-thumb {
    background-color: #b9b9b9;
}

.header, .assessmentCard {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: .5fr .3fr .2fr;
}
.header div {
    color: black;
    padding-inline: 5px;
    margin-bottom: 5px;
}
.header div p {
    font-size: .85rem;
    font-weight: 500;
}

.assessmentCard {
    padding: 15px 0;
    border: 1px solid rgb(209, 209, 209);
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #e7e7e7;
    margin-top: 0 !important;
    border-left: 3px solid #63179d;
}
.assessmentCard div {
    padding-inline: 10px;
}
.assessmentCard div p {
    font-size: .8rem;
    font-weight: 500;
    max-width: 90%;
    flex-wrap: wrap;
}
.assessmentCard div:last-child {
    margin-left: 5px;
}
.saveGrade {
    border: none;
    padding: 5px 35px;
    color: #000 !important;
    background: #5d5dd4e4;
    border-radius: 5px;
    margin-right: 5px;
}
.saveGrade:last-of-type {
    background-color: rgb(255, 88, 88);
}
.formContainer {
    width: 100%;
    height: 100%;
}
.formContainer form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    color: black !important;
    padding-block: 10px;
    gap: 10px;
}
.formContainer form label {
    font-size: .7rem;
    position: relative;
}
.formContainer form .formGroup {
    background-color: #ebebeb9b;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 7px;
    width: auto;
}
.formContainer .formGroup div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.formContainer .formGroup div p {
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
}
.formContainer form input {
    max-width: 60px;
    border: transparent;
    background-color: transparent;
    padding: 5px;
    font-size: .9rem;
}
.formContainer .formGroup input:focus {
    outline: none;
}
.formContainer form .formGroup {
    border-bottom: 3px solid #63179d;
}
.formContainer form .finalLabel{
    color: rgb(33, 0, 218);
    font-size: .8rem;
    font-weight: 700;
}
.formContainer form .formGroup:last-child {
    border: 2px solid rgb(84, 8, 206);
}
.formContainer form .formGroup:last-child input {
    font-size: 1.1rem;
}

.isFinal {
    color: #28bbff !important;
}
.finalAssessment {
    border-color: #006aff !important;
}

.borderLeftAssign {
    border-left: 3px solid #28bbff;
}
.editClass {
    bottom: 10% !important;
    right: 10px !important;
    padding: 0 !important;
}
.editClass:hover {
    background-color: transparent !important;
    padding: 0 !important;
    transition: none;
    color: rgb(34, 0, 255);
}

.buttonGroup {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}
.buttonGroup button {
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}
.buttonGroup button:first-child {
    background-color: #ff4848;
    color: #ffffff;
}
.buttonGroup button:last-child {
    background-color: #5d5dd4;
    color: #fff;
}
.buttonGroup button:hover {
    filter: brightness(1.1);
}
.buttonGroup .disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

@media screen and (max-width: 426px) {
    .container {
        grid-template-columns: 1fr;
    }
    .contentContainer {
        padding-bottom: 2rem;
    }
    .profileContainer {
        display: none !important;
    }
}
