.container {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 350px;
}
.contentContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0 1rem;
    height: 97svh;
    overflow: auto;
}
.contentContainer::-webkit-scrollbar {
    display: 2px;
}
.contentContainer .header {
    width: 100%;
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr;
}
.header ul {
    display: flex;
    gap: 5px;
    padding: 5px 0px 0 0 !important;
    font-size: .9rem;
    margin: 5px;
}
.header ul li {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #8C8CAB;
}
.header ul .active {
    text-decoration: underline;
    color: #5D5DD4;
}
.contentContainer .header .create p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    margin: 0;
    font-size: 1.7rem;
}
.create div ul {
    padding: 0 !important;
    margin: 0 !important;
    font-size: .7rem;
}
.create div ul li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #8C8CAB;
    cursor: default;
}
.create div ul li:not(:nth-child(even)){
    cursor: pointer;
}
.create div ul .active {
    color: #5D5DD4;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content div {
    height: auto;
}

/* styles for text section components */
.Title{
    font-size: 2.5rem;
    font-weight: 600;
    color: #1f2335
}
.SubTitle{
    font-weight: 800;
}
.Sub{
    font-weight: 600;
}
.Example{
    background-color: #1f2335;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: .875em;
}
.FlowchartExample{
    background-color: #1f2335;
    padding: 15px;
    border-radius: 5px;
    font-size: .875em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BulletOrder li{
    list-style-type: disc;
}
.NumericOrder li{
    list-style-type: numeric;
}
/* end of styles for text section components */